
body 
{font-family:'Open Sans', Arial, Helvetica, sans-serif!important;
font-size:13px;line-height:18px; margin:0; padding:0; background: url(../image/body_bg.png) no-repeat center center;}

html,body{
 margin:0!important}


p{ margin:10px 0 0}

a{color:#666;outline:none;

text-decoration:none;}

a:hover{text-decoration:none; color:#e4002c}

/*  Header styles */
h1,h2,h3,h4,h5,h6
{line-height:1.3em;}

h1{font-size:36px;display:block;font-family: 'Stardos Stencil'!important;}
h2{font-size:32px;}
h3{font-size:26px;}
h4{font-size:22px;}  
h5{font-size:20px;}
h6{font-size:18px;}

#wrapper{ width: 1150px; display: block; margin: 0 auto; max-width: 100%;}

header{ width:100%; display: block; 
padding: 15px 0; background: url(../image/header_bg.jpg) no-repeat 0 0;}

header .topbar span{ background: #555555; color: #fff; padding: 5px 10px; -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px; margin-right: 6px}

header .logo{ display: block; padding-top: 40px; margin:44px -2px 20px;}
.navbar-wrapper{background: url(../image/nav_bg.png) repeat-x 0 0; margin: 1px 0 0}

.social-media{ display: block; margin: 8px 0;}
.social-media a{ background: url(../image/social_media.png) no-repeat 0 0; 
  width: 45px; height: 35px; display: block; float: left; font-size: 0; 
  text-decoration: none;}

  .navbar-nav{ float: right;}
  .navbar{ margin: 0;}

  .social-media a.facebook{ background-position: 0 0;}
  .social-media a.twitter{ background-position: -45px 0;}
  .social-media a.google{ background-position: -90px 0;}
  .social-media a:hover{opacity:0.7;}
 .navbar-inverse .navbar-nav > li > a{ font-size: 15px; padding: 13px 25px;}
 .navbar-inverse .navbar-nav > li > a:hover{background: #a3a3a3;}

 .slider img{ width: 100%;}

 .product_panel{ background: #fff; display: block;}
 .product_panel h1.heading{ color:#000; text-align: center; text-transform: uppercase; margin: 10px 0; 
  font-weight: 700;font-family: 'Sirin Stencil'}
 .product_panel h6{ color: #c21720; font-size: 17px; min-height: 45px;}
 .product_panel a.view_cart{ background:#2a2a2a; color: #fff; text-decoration: none; padding: 5px 12px; 
  text-transform: uppercase; float: right; display: block; font-size:16px;}
  .product_panel a:hover.view_cart{ background: #4b4b4b}
  .product_panel .price{ font-weight: 600; font-size: 18px; float: left; 
    display: block; color: #2a2a2a; padding: 4px 0;}
  .product_panel .widget{ border: 2px solid #dbdad8; padding-bottom: 25px;}
  .product_panel .widget img{ margin:15px auto; display: block; min-height: 200px;}
  .product_panel .col-lg-3{ margin-right: 15px;width: 23.9595%; margin-bottom: 15px;}
  .product_panel .last{ margin: 0; }
  .product_panel .column{ margin-bottom:15px}


  footer{ background: #1f1f1f; display: block; padding: 15px 0 0;}
  footer h4.head{ background: url(../image/footer_shape.png) no-repeat 0 bottom; 
    color: #f1c985; text-transform: uppercase; margin: 0 0 20px; padding-bottom: 5px;}
  footer .footer_menu{ list-style: none; margin: 0; padding: 0;}
  footer .footer_menu li{ display: block;}
  footer .footer_menu li a{ color: #fff; display: block; text-decoration: none; padding:0 0 7px}
  footer p{ color: #fff; margin: 0 0 7px}
  footer a.email{ color: #fff; text-decoration: none;}
  footer a:hover,
  footer .footer_menu li a:hover{ color: #afafaf;}
  footer .payment_plan { display: block; margin: 0 0 10px;}
  footer .payment_plan img{ margin-right: 5px}
  footer .copy_right{background: #1b1b1b url(../image/footer_bar.png) repeat-x 0 0; 
    display: block; height: 40px; padding: 10px 0;}
  footer .copy_right a{ color: #fff; float: right;}




@media screen and (max-width:1024px) {

.product_panel h6 {font-size: 15px;}
.product_panel .col-lg-3{ width: 23.65%; margin-right: 12px;}
.product_panel .last{ margin:0 12px 15px 0; }

}

@media screen and (max-width:800px) {
body{ background-size: cover;}
.product_panel .col-lg-3{width: 31.335%; margin-right: 15px;}
.product_panel .last{ margin:0 15px 15px 0; }
.navbar-inverse .navbar-nav > li > a{padding: 13px 19px;}
h4{ font-size: 18px}

}

@media screen and (max-width:640px) {

.container{ padding: 0 15px}
.product_panel .col-lg-3{width: 44.335%; margin-left: 15px;}
.navbar-wrapper .col-xs-7{ width:97%; position: absolute; padding: 0; right: 0}
.navbar-nav{ float: none; background: #fff;}
footer .col-xs-3{ width: 32%; height: 200px}
}


@media screen and (max-width:504px) {

h1{ font-size: 24px}
.product_panel .col-lg-3{width:60%; margin: 0 auto 15px; float: none;padding-bottom:40px;}
.navbar-wrapper .col-xs-5{ width: 57%;}
footer .col-xs-3{ width: 50%; height: 200px}
footer .col-xs-6{ width: auto;}
footer .copy_right{ height: auto;}

}

@media screen and (max-width:360px) {

  footer .col-xs-3{ width: auto; height:auto; margin-bottom: 15px;}
  .product_panel .col-lg-3{ width:90%}



  }